@media (--md-viewport) {

  /* ZERO */

  .u-md-spacePT0 {
    padding-top: 0 !important;
  }

  .u-md-spacePB0 {
    padding-bottom: 0 !important;
  }

  .u-md-spacePL0 {
    padding-left: 0 !important;
  }

  .u-md-spacePR0 {
    padding-right: 0 !important;
  }

  .u-md-spacePV0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .u-md-spacePH0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .u-md-spaceMT0 {
    margin-top: 0 !important;
  }

  .u-md-spaceMB0 {
    margin-bottom: 0 !important;
  }

  .u-md-spaceML0 {
    margin-left: 0 !important;
  }

  .u-md-spaceMR0 {
    margin-right: 0 !important;
  }

  .u-md-spaceMV0 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .u-md-spaceMH0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  /* ONE */

  .u-md-spacePT1 {
    padding-top: var(--space1) !important;
  }

  .u-md-spacePB1 {
    padding-bottom: var(--space1) !important;
  }

  .u-md-spacePL1 {
    padding-left: var(--space1) !important;
  }

  .u-md-spacePR1 {
    padding-right: var(--space1) !important;
  }

  .u-md-spacePV1 {
    padding-bottom: var(--space1) !important;
    padding-top: var(--space1) !important;
  }

  .u-md-spacePH1 {
    padding-left: var(--space1) !important;
    padding-right: var(--space1) !important;
  }

  .u-md-spaceMT1 {
    margin-top: var(--space1) !important;
  }

  .u-md-spaceMB1 {
    margin-bottom: var(--space1) !important;
  }

  .u-md-spaceML1 {
    margin-left: var(--space1) !important;
  }

  .u-md-spaceMR1 {
    margin-right: var(--space1) !important;
  }

  .u-md-spaceMV1 {
    margin-bottom: var(--space1) !important;
    margin-top: var(--space1) !important;
  }

  .u-md-spaceMH1 {
    margin-left: var(--space1) !important;
    margin-right: var(--space1) !important;
  }

  /* TWO */

  .u-md-spacePT2 {
    padding-top: var(--space2) !important;
  }

  .u-md-spacePB2 {
    padding-bottom: var(--space2) !important;
  }

  .u-md-spacePL2 {
    padding-left: var(--space2) !important;
  }

  .u-md-spacePR2 {
    padding-right: var(--space2) !important;
  }

  .u-md-spacePV2 {
    padding-bottom: var(--space2) !important;
    padding-top: var(--space2) !important;
  }

  .u-md-spacePH2 {
    padding-left: var(--space2) !important;
    padding-right: var(--space2) !important;
  }

  .u-md-spaceMT2 {
    margin-top: var(--space2) !important;
  }

  .u-md-spaceMB2 {
    margin-bottom: var(--space2) !important;
  }

  .u-md-spaceML2 {
    margin-left: var(--space2) !important;
  }

  .u-md-spaceMR2 {
    margin-right: var(--space2) !important;
  }

  .u-md-spaceMV2 {
    margin-bottom: var(--space2) !important;
    margin-top: var(--space2) !important;
  }

  .u-md-spaceMH2 {
    margin-left: var(--space2) !important;
    margin-right: var(--space2) !important;
  }

  /* THREE */

  .u-md-spacePT3 {
    padding-top: var(--space3) !important;
  }

  .u-md-spacePB3 {
    padding-bottom: var(--space3) !important;
  }

  .u-md-spacePL3 {
    padding-left: var(--space3) !important;
  }

  .u-md-spacePR3 {
    padding-right: var(--space3) !important;
  }

  .u-md-spacePV3 {
    padding-bottom: var(--space3) !important;
    padding-top: var(--space3) !important;
  }

  .u-md-spacePH3 {
    padding-left: var(--space3) !important;
    padding-right: var(--space3) !important;
  }

  .u-md-spaceMT3 {
    margin-top: var(--space3) !important;
  }

  .u-md-spaceMB3 {
    margin-bottom: var(--space3) !important;
  }

  .u-md-spaceML3 {
    margin-left: var(--space3) !important;
  }

  .u-md-spaceMR3 {
    margin-right: var(--space3) !important;
  }

  .u-md-spaceMV3 {
    margin-bottom: var(--space3) !important;
    margin-top: var(--space3) !important;
  }

  .u-md-spaceMH3 {
    margin-left: var(--space3) !important;
    margin-right: var(--space3) !important;
  }

  /* FOUR */

  .u-md-spacePT4 {
    padding-top: var(--space4) !important;
  }

  .u-md-spacePB4 {
    padding-bottom: var(--space4) !important;
  }

  .u-md-spacePL4 {
    padding-left: var(--space4) !important;
  }

  .u-md-spacePR4 {
    padding-right: var(--space4) !important;
  }

  .u-md-spacePV4 {
    padding-bottom: var(--space4) !important;
    padding-top: var(--space4) !important;
  }

  .u-md-spacePH4 {
    padding-left: var(--space4) !important;
    padding-right: var(--space4) !important;
  }

  .u-md-spaceMT4 {
    margin-top: var(--space4) !important;
  }

  .u-md-spaceMB4 {
    margin-bottom: var(--space4) !important;
  }

  .u-md-spaceML4 {
    margin-left: var(--space4) !important;
  }

  .u-md-spaceMR4 {
    margin-right: var(--space4) !important;
  }

  .u-md-spaceMV4 {
    margin-bottom: var(--space4) !important;
    margin-top: var(--space4) !important;
  }

  .u-md-spaceMH4 {
    margin-left: var(--space4) !important;
    margin-right: var(--space4) !important;
  }

  /* FIVE */

  .u-md-spacePT5 {
    padding-top: var(--space5) !important;
  }

  .u-md-spacePB5 {
    padding-bottom: var(--space5) !important;
  }

  .u-md-spacePL5 {
    padding-left: var(--space5) !important;
  }

  .u-md-spacePR5 {
    padding-right: var(--space5) !important;
  }

  .u-md-spacePV5 {
    padding-bottom: var(--space5) !important;
    padding-top: var(--space5) !important;
  }

  .u-md-spacePH5 {
    padding-left: var(--space5) !important;
    padding-right: var(--space5) !important;
  }

  .u-md-spaceMT5 {
    margin-top: var(--space5) !important;
  }

  .u-md-spaceMB5 {
    margin-bottom: var(--space5) !important;
  }

  .u-md-spaceML5 {
    margin-left: var(--space5) !important;
  }

  .u-md-spaceMR5 {
    margin-right: var(--space5) !important;
  }

  .u-md-spaceMV5 {
    margin-bottom: var(--space5) !important;
    margin-top: var(--space5) !important;
  }

  .u-md-spaceMH5 {
    margin-left: var(--space5) !important;
    margin-right: var(--space5) !important;
  }

  /* SIX */

  .u-md-spacePT6 {
    padding-top: var(--space6) !important;
  }

  .u-md-spacePB6 {
    padding-bottom: var(--space6) !important;
  }

  .u-md-spacePL6 {
    padding-left: var(--space6) !important;
  }

  .u-md-spacePR6 {
    padding-right: var(--space6) !important;
  }

  .u-md-spacePV6 {
    padding-bottom: var(--space6) !important;
    padding-top: var(--space6) !important;
  }

  .u-md-spacePH6 {
    padding-left: var(--space6) !important;
    padding-right: var(--space6) !important;
  }

  .u-md-spaceMT6 {
    margin-top: var(--space6) !important;
  }

  .u-md-spaceMB6 {
    margin-bottom: var(--space6) !important;
  }

  .u-md-spaceML6 {
    margin-left: var(--space6) !important;
  }

  .u-md-spaceMR6 {
    margin-right: var(--space6) !important;
  }

  .u-md-spaceMV6 {
    margin-bottom: var(--space6) !important;
    margin-top: var(--space6) !important;
  }

  .u-md-spaceMH6 {
    margin-left: var(--space6) !important;
    margin-right: var(--space6) !important;
  }

  /* SEVEN */

  .u-md-spacePT7 {
    padding-top: var(--space7) !important;
  }

  .u-md-spacePB7 {
    padding-bottom: var(--space7) !important;
  }

  .u-md-spacePL7 {
    padding-left: var(--space7) !important;
  }

  .u-md-spacePR7 {
    padding-right: var(--space7) !important;
  }

  .u-md-spacePV7 {
    padding-bottom: var(--space7) !important;
    padding-top: var(--space7) !important;
  }

  .u-md-spacePH7 {
    padding-left: var(--space7) !important;
    padding-right: var(--space7) !important;
  }

  .u-md-spaceMT7 {
    margin-top: var(--space7) !important;
  }

  .u-md-spaceMB7 {
    margin-bottom: var(--space7) !important;
  }

  .u-md-spaceML7 {
    margin-left: var(--space7) !important;
  }

  .u-md-spaceMR7 {
    margin-right: var(--space7) !important;
  }

  .u-md-spaceMV7 {
    margin-bottom: var(--space7) !important;
    margin-top: var(--space7) !important;
  }

  .u-md-spaceMH7 {
    margin-left: var(--space7) !important;
    margin-right: var(--space7) !important;
  }

  /* EIGHT */

  .u-md-spacePT8 {
    padding-top: var(--space8) !important;
  }

  .u-md-spacePB8 {
    padding-bottom: var(--space8) !important;
  }

  .u-md-spacePL8 {
    padding-left: var(--space8) !important;
  }

  .u-md-spacePR8 {
    padding-right: var(--space8) !important;
  }

  .u-md-spacePV8 {
    padding-bottom: var(--space8) !important;
    padding-top: var(--space8) !important;
  }

  .u-md-spacePH8 {
    padding-left: var(--space8) !important;
    padding-right: var(--space8) !important;
  }

  .u-md-spaceMT8 {
    margin-top: var(--space8) !important;
  }

  .u-md-spaceMB8 {
    margin-bottom: var(--space8) !important;
  }

  .u-md-spaceML8 {
    margin-left: var(--space8) !important;
  }

  .u-md-spaceMR8 {
    margin-right: var(--space8) !important;
  }

  .u-md-spaceMV8 {
    margin-bottom: var(--space8) !important;
    margin-top: var(--space8) !important;
  }

  .u-md-spaceMH8 {
    margin-left: var(--space8) !important;
    margin-right: var(--space8) !important;
  }

  /* NINE */

  .u-md-spacePT9 {
    padding-top: var(--space9) !important;
  }

  .u-md-spacePB9 {
    padding-bottom: var(--space9) !important;
  }

  .u-md-spacePL9 {
    padding-left: var(--space9) !important;
  }

  .u-md-spacePR9 {
    padding-right: var(--space9) !important;
  }

  .u-md-spacePV9 {
    padding-bottom: var(--space9) !important;
    padding-top: var(--space9) !important;
  }

  .u-md-spacePH9 {
    padding-left: var(--space9) !important;
    padding-right: var(--space9) !important;
  }

  .u-md-spaceMT9 {
    margin-top: var(--space9) !important;
  }

  .u-md-spaceMB9 {
    margin-bottom: var(--space9) !important;
  }

  .u-md-spaceML9 {
    margin-left: var(--space9) !important;
  }

  .u-md-spaceMR9 {
    margin-right: var(--space9) !important;
  }

  .u-md-spaceMV9 {
    margin-bottom: var(--space9) !important;
    margin-top: var(--space9) !important;
  }

  .u-md-spaceMH9 {
    margin-left: var(--space9) !important;
    margin-right: var(--space9) !important;
  }

  /* TEN */

  .u-md-spacePT10 {
    padding-top: var(--space10) !important;
  }

  .u-md-spacePB10 {
    padding-bottom: var(--space10) !important;
  }

  .u-md-spacePL10 {
    padding-left: var(--space10) !important;
  }

  .u-md-spacePR10 {
    padding-right: var(--space10) !important;
  }

  .u-md-spacePV10 {
    padding-bottom: var(--space10) !important;
    padding-top: var(--space10) !important;
  }

  .u-md-spacePH10 {
    padding-left: var(--space10) !important;
    padding-right: var(--space10) !important;
  }

  .u-md-spaceMT10 {
    margin-top: var(--space10) !important;
  }

  .u-md-spaceMB10 {
    margin-bottom: var(--space10) !important;
  }

  .u-md-spaceML10 {
    margin-left: var(--space10) !important;
  }

  .u-md-spaceMR10 {
    margin-right: var(--space10) !important;
  }

  .u-md-spaceMV10 {
    margin-bottom: var(--space10) !important;
    margin-top: var(--space10) !important;
  }

  .u-md-spaceMH10 {
    margin-left: var(--space10) !important;
    margin-right: var(--space10) !important;
  }

  /* ELEVEN */

  .u-md-spacePT11 {
    padding-top: var(--space11) !important;
  }

  .u-md-spacePB11 {
    padding-bottom: var(--space11) !important;
  }

  .u-md-spacePL11 {
    padding-left: var(--space11) !important;
  }

  .u-md-spacePR11 {
    padding-right: var(--space11) !important;
  }

  .u-md-spacePV11 {
    padding-bottom: var(--space11) !important;
    padding-top: var(--space11) !important;
  }

  .u-md-spacePH11 {
    padding-left: var(--space11) !important;
    padding-right: var(--space11) !important;
  }

  .u-md-spaceMT11 {
    margin-top: var(--space11) !important;
  }

  .u-md-spaceMB11 {
    margin-bottom: var(--space11) !important;
  }

  .u-md-spaceML11 {
    margin-left: var(--space11) !important;
  }

  .u-md-spaceMR11 {
    margin-right: var(--space11) !important;
  }

  .u-md-spaceMV11 {
    margin-bottom: var(--space11) !important;
    margin-top: var(--space11) !important;
  }

  .u-md-spaceMH11 {
    margin-left: var(--space11) !important;
    margin-right: var(--space11) !important;
  }

  /* TWELVE */

  .u-md-spacePT12 {
    padding-top: var(--space12) !important;
  }

  .u-md-spacePB12 {
    padding-bottom: var(--space12) !important;
  }

  .u-md-spacePL12 {
    padding-left: var(--space12) !important;
  }

  .u-md-spacePR12 {
    padding-right: var(--space12) !important;
  }

  .u-md-spacePV12 {
    padding-bottom: var(--space12) !important;
    padding-top: var(--space12) !important;
  }

  .u-md-spacePH12 {
    padding-left: var(--space12) !important;
    padding-right: var(--space12) !important;
  }

  .u-md-spaceMT12 {
    margin-top: var(--space12) !important;
  }

  .u-md-spaceMB12 {
    margin-bottom: var(--space12) !important;
  }

  .u-md-spaceML12 {
    margin-left: var(--space12) !important;
  }

  .u-md-spaceMR12 {
    margin-right: var(--space12) !important;
  }

  .u-md-spaceMV12 {
    margin-bottom: var(--space12) !important;
    margin-top: var(--space12) !important;
  }

  .u-md-spaceMH12 {
    margin-left: var(--space12) !important;
    margin-right: var(--space12) !important;
  }
}
