@media (--lg-viewport) {

  .u-lg-textCenter {
    text-align: center !important;
  }

  .u-lg-textLeft {
    text-align: left !important;
  }

  .u-lg-textRight {
    text-align: right !important;
  }
}
