.Download {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Download__article {
  flex: 1;
  padding: 90px 15px 30px 15px;
  text-align: center;
}

.Download__page-header {
  color: #000;
  font-family: "CircularStd", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}

.Download__section-header {
  color: #0f007a;
  font-family: "CircularStd", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 34px;
}

.Download__social-icon {
  margin-right: 10px;
}
