{
  "presets": ["env"],
  "env": {
    "test": {
      "sourceMaps": true,
      "presets": [
        "env",
        "stage-0",
        "react"
      ],
      "plugins": [
        "babel-plugin-transform-object-rest-spread"
      ]
    }
  }
}
