@import "../css/variables.css";

.Home-hero {
  margin: 0 auto;
  max-width: 1600px;
}

.Home-hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 800px) {

  .Home-hero-content {
    padding-left: 30px;
  }
}

/*
  BEWARE BRITTLE CODE
  The animation is absolutely positioned inside the phone shell
*/

.Home-chatDemo-phone {
  width: 375px;
}

@media (min-width: 745px) {

  .Home-chatDemo {
    background-color: transparent;
    left: 0;
  }

  .Home-chatDemo-phone {
    width: 550px;
  }
}

.Home-media {
  margin: 0 auto;
  max-width: 759px;
}

.Home-strike {
  background-image: linear-gradient(
    transparent 52%,
    rgba(255, 138, 128, 0.5) 52%,
    rgba(255, 138, 128, 0.5) 60%,
    transparent 60%
  );
  text-decoration: none;
}

.Home-model {
  height: 360px;
}

.Home-model-figure {
  height: 210px;
}

.Home-model-image {
  margin: 0 auto;
  width: 100px;
}

.Home-model-image-charity {
  width: 128px;
}

.Home-model-paragraph {
  margin: 0 auto;
  max-width: 900px;
}

.Home-perilForest-image-mobile {
  margin: 0 auto;
  width: 304px;
}

.Home-perilForest-image-desktop {
  margin: 0 auto;
  width: 754px;
}

.Home-customerSource-image-mobile {
  margin: 0 auto;
  width: 276px;
}

.Home-customerSource-image-desktop {
  margin: 0 auto;
  width: 679px;
}

.Home-safety-image {
  width: 120px;
}
