.Container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.Container::before,
.Container::after {
  content: " ";
  display: table;
}

.Container::after {
  clear: both;
}

.Container--withoutGutter {
  padding-left: 0;
  padding-right: 0;
}
