.Contact {
  height: 100%;
  width: 100%;
}

.Contact__header {
  color: #0f007a;
  font-family: "CircularStd", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin: 2em 0;
  text-align: center;
}

.Contact__article {
  justify-content: center;
  padding: 0 0 2em;
}

.Contact__text {
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {

  .Contact__article {
    padding: 5em 0;
  }
}
