.Header {
  height: 62px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.Header__container {
  padding: 0 12px;
}

.Header__container::after {
  clear: both;
  content: "";
  display: table;
}

.Header__start {
  float: left;
}

.Header__start::after {
  clear: both;
  content: "";
  display: table;
}

.Header__end {
  float: right;
}

.Header__logo {
  display: block;
  float: left;
  height: 60px;
  margin-right: 20px;
  padding-left: 8px;
}

.Header__logo__inner {
  position: relative;
  top: 16px;
}

.Header__menu {
  align-items: center;
  display: none;
  float: left;
  font-family: CircularStd, sans-serif;
  height: 60px;
}

.Header__menu__link {
  margin: 0 20px;
  position: relative;
  top: 18px;
}

.Header__menu__link,
.Header__menu__link:visited {
  color: #0f007a;
}

.Header__cta {
  background-color: #1be9b6;
  border-radius: 24px;
  color: white;
  font-family: "CircularStd", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  top: 18px;
}

.Header__burger {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 17px;
  font-weight: 400;
  height: 60px;
  line-height: 50px;
  padding: 0 30px;
  padding: 0 10px;
  position: relative;
  right: -5px;
  transition: opacity 0.1s ease;
  user-select: none;
  white-space: nowrap;
  width: 50px;
}

.Header__burger:hover {
  opacity: 0.5;
}

.Header__burger__line {
  background: currentColor;
  border-radius: 1px;
  color: inherit;
  display: block;
  font-size: 0;
  height: 2px;
  left: 14px;
  position: absolute;
  top: 29px;
  transition: all 400ms cubic-bezier(0.37, 0, 0.28, 1);
  width: 22px;
}

.Header__burger__line:first-child {
  top: 21px;
}

.Header__burger__line:last-child {
  top: 37px;
}

.Header__burger.isActive .Header__burger__line:first-child {
  transform: translateY(8px) rotate(45deg);
}

.Header__burger.isActive .Header__burger__line:nth-child(2) {
  opacity: 0;
  transform: translateX(-10px) scaleX(0.7);
}

.Header__burger.isActive .Header__burger__line:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

.Header__popover {
  background: #fff;
  height: 100vh;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 20px;
  perspective: 2000px;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 62px;
  transform: scale(0.97);
  transform-origin: 100% 0;
  transition-duration: 0.2s;
  transition-property: transform, opacity;
  will-change: transform, opacity;
}

.Header__popover.isActive {
  opacity: 1;
  pointer-events: auto;
  transform: none;
}

.Header__popover .Header__menu__link {
  display: block;
  padding: 10px;
}

.Header__popover .Header__cta {
  display: inline-block;
  margin-top: 15px;
}

@media screen and (min-width: 550px) {

  .Header__burger {
    display: none;
  }

  .Header__menu {
    display: block;
  }

  .Header__popover {
    display: none;
  }
}
