.ClaimDemo {
  background-color: #0f007a;
}

.ClaimDemo__text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-top: 20px;
}

.ClaimDemo__heading {
  color: white;
  font-family: "CircularStd", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  padding: 0 15px;
  text-align: center;
}

.ClaimDemo__phone {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.ClaimDemo__phone > div {
  bottom: -2px;
  position: relative;
}

.ClaimDemo__expandable {
  display: none;
}

@keyframes ClaimDemo__FadeInParagraph {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ClaimDemo__fade-in-paragraph {
  animation: ClaimDemo__FadeInParagraph 0.15s linear;
  color: white;
  max-width: 600px;
  position: absolute;
}

.ClaimDemo__sm-hidden {
  display: none;
}

@media screen and (min-width: 1024px) {

  .ClaimDemo__heading {
    font-size: 40px;
    padding: 0;
    text-align: left;
  }

  .ClaimDemo__phone {
    justify-content: flex-end;
    margin: 4em 0 0;
  }

  .ClaimDemo__expandable {
    display: block;
  }

  .ClaimDemo__sm-hidden {
    display: inline;
  }
}
