/*

Currently GT-Super-Display is only used for the heading "Insurance. Unbroken."
which is embedded as an svg for performance.

*/

@font-face {
  font-display: swap;
  font-family: "SoRay";
  font-style: normal;
  font-weight: 800;
  src: url("/assets/fonts/SoRay-ExtraBold.eot");
  src: url("/assets/fonts/SoRay-ExtraBold.eot?#iefix")
    format("embedded-opentype"),
    url("/assets/fonts/SoRay-ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/SoRay-ExtraBold.woff") format("woff"),
    url("/assets/fonts/SoRay-ExtraBold.ttf") format("truetype"),
    url("/assets/fonts/SoRay-ExtraBold.svg#so_rayextrabold") format("svg");
}

@font-face {
  font-display: fallback;
  font-family: "CircularStd";
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/CircularStd-Bold.eot");
  src: url("/assets/fonts/CircularStd-Bold.eot?#iefix")
    format("embedded-opentype"),
    url("/assets/fonts/CircularStd-Bold.woff2") format("woff2"),
    url("/assets/fonts/CircularStd-Bold.woff") format("woff"),
    url("/assets/fonts/CircularStd-Bold.ttf") format("truetype"),
    url("/assets/fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd")
    format("svg");
}

@font-face {
  font-display: fallback;
  font-family: "CircularStd";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/CircularStd-Book.eot");
  src: url("/assets/fonts/CircularStd-Book.eot?#iefix")
    format("embedded-opentype"),
    url("/assets/fonts/CircularStd-Book.woff2") format("woff2"),
    url("/assets/fonts/CircularStd-Book.woff") format("woff"),
    url("/assets/fonts/CircularStd-Book.ttf") format("truetype"),
    url("/assets/fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd")
    format("svg");
}

@font-face {
  font-family: "CircularStd";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/CircularStd-BookItalic.eot");
  src: url("/assets/fonts/CircularStd-BookItalic.eot?#iefix")
    format("embedded-opentype"),
    url("/assets/fonts/CircularStd-BookItalic.woff2") format("woff2"),
    url("/assets/fonts/CircularStd-BookItalic.woff") format("woff"),
    url("/assets/fonts/CircularStd-BookItalic.ttf") format("truetype"),
    url("/assets/fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd")
    format("svg");
}
