/*

Currently GT-Super-Display is only used for the heading "Insurance. Unbroken."
which is embedded as an svg for performance.

*/

@font-face {
  font-display: swap;
  font-family: "SoRay";
  font-style: normal;
  font-weight: 800;
  src: url("https://cdn.hedvig.com/identity/fonts/SoRay-ExtraBold.woff2")
    format("woff2"),
    url("https://cdn.hedvig.com/identity/fonts/SoRay-ExtraBold.woff")
    format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "CircularStd";
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.hedvig.com/identity/fonts/CircularStd-Bold.woff2")
    format("woff2"),
    url("https://cdn.hedvig.com/identity/fonts/CircularStd-Bold.woff")
    format("woff");
}

@font-face {
  font-display: fallback;
  font-family: "CircularStd";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.hedvig.com/identity/fonts/CircularStd-Book.woff2")
    format("woff2"),
    url("https://cdn.hedvig.com/identity/fonts/CircularStd-Book.woff")
    format("woff");
}

@font-face {
  font-family: "CircularStd";
  font-style: italic;
  font-weight: 400;
  src: url("https://cdn.hedvig.com/identity/fonts/CircularStd-BookItalic.woff2")
    format("woff2"),
    url("https://cdn.hedvig.com/identity/fonts/CircularStd-BookItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Merriweather-Light";
  font-style: italic;
  font-weight: 300;
  src: url("https://cdn.hedvig.com/identity/fonts/Merriweather-LightItalic.woff2")
    format("woff2"),
    url("https://cdn.hedvig.com/identity/fonts/Merriweather-LightItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.hedvig.com/identity/fonts/Merriweather-Regular.woff2")
    format("woff2"),
    url("https://cdn.hedvig.com/identity/fonts/Merriweather-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: bold;
  src: url("https://cdn.hedvig.com/identity/fonts/Merriweather-BoldItalic.woff2")
    format("woff2"),
    url("https://cdn.hedvig.com/identity/fonts/Merriweather-BoldItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: normal;
  src: url("https://cdn.hedvig.com/identity/fonts/Merriweather-Italic.woff2")
    format("woff2"),
    url("https://cdn.hedvig.com/identity/fonts/Merriweather-Italic.woff")
    format("woff");
}

@font-face {
  font-family: "Merriweather-Light";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.hedvig.com/identity/fonts/Merriweather-Light.woff2")
    format("woff2"),
    url("https://cdn.hedvig.com/identity/fonts/Merriweather-Light.woff")
    format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: bold;
  src: url("https://cdn.hedvig.com/identity/fonts/Merriweather-Bold.woff2")
    format("woff2"),
    url("https://cdn.hedvig.com/identity/fonts/Merriweather-Bold.woff")
    format("woff");
}
