:root {
  --color-primaryBlack: #212121;
  --color-primaryDarkBlue: #141033;
  --color-primaryBlue: #100079;
  --color-primaryPink: #ff8a80;
  --color-primaryGreen: #1be9b6;
  --color-primaryPurple: #651eff;
  --color-primaryBlackPurple: #0f007a;
  --color-primaryDarkestPurple: #070646;
  --color-primaryGrey: #e9ecef;
  --color-primaryDarkGrey: #9b9baa;

  --color-secondaryPink: #fff3f2;
  --color-secondaryGreen: #e8fcf7;
  --color-secondaryPurple: #efe8ff;
  --color-secondaryGrey: #f9fafc;

  --fontFamilyBody: CircularStd, sans-serif;
  --fontFamilyHeader: SoRay, sans-serif;

  --fontWeightBook: 400;
  --fontWeightBold: 600;
  --fontWeightSuper: 800;

  --fontSize1: 72px;
  --fontSize2: 60px;
  --fontSize3: 50px;
  --fontSize4: 40px;
  --fontSize5: 36px;
  --fontSize6: 32px;
  --fontSize7: 23px;
  --fontSize8: 20px;
  --fontSize85: 18px;
  --fontSize9: 18px;
  --fontSize10: 16px;

  --lineHeight1: 76px;
  --lineHeight2: 66px;
  --lineHeight3: 56px;
  --lineHeight4: 54px;
  --lineHeight5: 50px;
  --lineHeight6: 38px;
  --lineHeight7: 30px;
  --lineHeight8: 29px;
  --lineHeight85: 30px;
  --lineHeight9: 28px;
  --lineHeight10: 24px;

  --Grid-gutterSize: 25px;
  --Arrange-gutterSize: 10px;

  --space1: 140px;
  --space2: 125px;
  --space3: 100px;
  --space4: 75px;
  --space5: 62.5px;
  --space6: 50px;
  --space7: 40px;
  --space8: 30px;
  --space9: 25px;
  --space10: 20px;
  --space11: 15px;
  --space12: 10px;

  --maxWidth1of1: 640px;
  --maxWidth1of2: 425px;
  --maxWidth1of3: 315px;
}

@custom-media --md-viewport (min-width: 640px) and (max-width: 959px);
@custom-media --lg-viewport (min-width: 960px);
