.WaterDamage {
  height: auto;
}

.WaterDamage__relative-container {
  overflow: auto;
  position: relative;
}

.WaterDamage__animations {
  background-image: url("/assets/web/splash/backdrop.svg");
  background-size: cover;
  display: flex;
  float: left;
  width: 100%;
}

.WaterDamage__text {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.WaterDamage__heading {
  color: #0f007a;
  font-family: "CircularStd", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0 15px;
  white-space: nowrap;
}

.WaterDamage__subtext {
  display: none;
}

@media screen and (min-width: 1024px) {

  .WaterDamage__heading {
    font-size: 40px;
  }

  .WaterDamage__subtext {
    display: block;
    margin: 0.5em 0 0;
  }
}
