.Footer {
  background-color: #0f007a;
  display: block;
  flex-direction: row;
  padding: 30px 20px 20px;
}

.Footer__start {
  flex: 1;
  padding-right: 20px;
}

.Footer__links {
  align-items: center;
  justify-content: start;
}

.Footer__logo {
  padding-right: 30px;
}

.Footer__link {
  color: white;
  display: block;
}

@media screen and (min-width: 700px) {

  .Footer {
    display: flex;
  }
}
