$color_main: #f04e30;

$sm-viewport: (min-width: 320px) and (max-width: 599px);
$md-viewport: (min-width: 600px) and (max-width: 959px);
$lg-viewport: (min-width: 960px);

// Component variables
$Grid-gutterSize: 25px;
$Arrange-gutterSize: 10px;
