.FAQ {
  display: block;
  margin: 0 auto;
  max-width: 650px;
  padding: 90px 15px 30px 15px;
}

.FAQ__page-header {
  color: #000;
  font-family: "CircularStd", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}

.FAQ__section-header {
  color: #0f007a;
  font-family: "CircularStd", sans-serif;
  font-size: 23px;
  font-weight: 400;
  hyphens: manual;
  line-height: 34px;
  margin: 1.6em 0 0;
}
