.Splash {
  height: auto;
  margin: 62px 0 0;
  width: 100%;
}

.Splash__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3em;
  padding: 0 20px;
  text-align: center;
}

.Splash__heading {
  font-family: "CircularStd", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: normal;
  line-height: 1.35;
  margin: 0;
  margin-bottom: 10px;
}

.Splash__subheading {
  display: block;
  font-family: "CircularStd", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.35;
  margin: 0 auto;
  margin-bottom: 27px;
}

.Splash__hero-animation {
  min-height: 250px;
  padding: 20px 0 30px;
}

@media screen and (min-width: 375px) {

  .Splash__text {
    padding: 0 30px;
  }

  .Splash__heading {
    font-size: 55px;
    line-height: 65px;
  }

  .Splash__subheading {
    font-size: 20px;
    max-width: 450px;
  }
}

@media screen and (min-width: 480px) {

  .Splash__heading {
    font-size: 65px;
    line-height: 75px;
  }
}

@media screen and (min-width: 1024px) {

  .Splash {
    height: 85vh;
  }

  .Splash__text {
    margin-top: 0;
    padding: 0;
    text-align: left;
  }

  .Splash__heading {
    font-size: 78px;
    line-height: 88px;
    margin-bottom: 10px;
  }

  .Splash__subheading {
    margin-left: 0;
    margin-right: 0;
  }

  .Splash__full-height {
    height: 100%;
  }
}
