.Splash {
  margin: 62px 0 0;
  width: 100%;
  height: auto;
}

.Splash__text {
  margin-top: 3em;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

.Splash__heading {
  font-family: 'Merriweather';
  font-weight: 400;
  font-size: 32px;
  line-height: normal;
  margin: 0;
  line-height: 1.35;
}

.Splash__subheading {
  font-family: 'Circular Std Book';
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 27px;
  line-height: 1.35;
}

.Splash__hero-animation {
  padding: 20px 0 30px;
  min-height: 250px;
}

@media screen and (min-width: 375px) {
  .Splash__text {
    padding: 0 30px;
  }

  .Splash__heading {
    font-size: 36px;
  }

  .Splash__subheading {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .Splash__heading {
    font-size: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .Splash {
    height: 85vh;
  }

  .Splash__text {
    margin-top: 0;
    text-align: left;
    padding: 0;
  }

  .Splash__heading {
    font-size: 50px;
  }

  .Splash__full-height {
    height: 100%;
  }
}
